<app-auth-header></app-auth-header>

<section class="login">
  <div class="container-fluid widt">
    <div class="row justify-content-around align-items-center">
      <div class="col-xl-6 mt-5 text-xl-right text-center">
        <h1 class="mt-md-5"> <span>Search</span>, <span>Buy</span> & <span>Sell</span><br />
          Premium Properties in Austin
        </h1>
        <p class="text">Over 1 million property agent visit us each month.
          List your property on No.1 private property website!
        </p>
        <h3>Subscribe now just in <span>$150/</span>year</h3>
      </div>
      <div class="col-xl-4 mt-md-5">
        <div class=" mt-md-5 white-box mt-1 pl-4 pr-4 pt-4 pb-4">
          <h2 class="heading-color">Login</h2>
          <form class="loginForm" [formGroup]="form" *ngIf="form">
            <div class="form-group row">
              <div class="col">
                <input type="input" [formControl]="form.controls.email" class="form-control" placeholder="Email" [class.i-error]="form.controls.email.invalid && form.controls.email.touched">
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <input type="password" [formControl]="form.controls.password" class="form-control" placeholder="Password" [class.i-error]="form.controls.password.invalid && form.controls.password.touched">
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
                <button type="button" [disabled]="!form.valid" (click)="onLogin()" class="btn-brown w-100">Login</button>
              </div>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="check">
              <label class="form-check-label" for="check">
              Remember Me
              </label>
            </div>
            <div class="form-check form-check-inline float-sm-right">
              <a routerLink="/forgot-password">Lost your password?</a>
            </div>
          </form>
          <hr class="style1 mt-4 mb-4">
          <p class="mt-2 mb-2 text-center "> Don’t have an account?<strong> <a class="link" routerLink="/signup">Signup</a></strong></p>
          <p><img class="img-responsive mx-auto d-block" src="assets/images/payment.jpg" alt=""></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="row">
      <div class="col-12 mt-5 text-center">
        <p class="font-12 white-color">Disclaimer: The information contained in the official buddyQuaid website is believed to be reliable. While every effort is made to assure that the information is as accurate as possible, the owner(s) of this site and buddyQuaid disclaim any implied warranty or representation about its accuracy, completeness or current state for any particular purpose. This includes but is not limited to information provided by any third party which is accessed through this site via a hyperlink.</p>
      </div>
    </div>
  </div>
</section>