<app-header *ngIf="isLogin"></app-header>
<app-auth-header *ngIf="!isLogin"></app-auth-header>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">FAQ</h1>
      </div>
    </div>
    <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4 ">
      <ng-template ngFor [ngForOf]="faqs" let-faq let-i="index">
        <div class="col faq-item" [class.no-border]="i === faqs.length - 1">
          <h4>{{faq.title}}</h4>
          <p>{{faq.text}}</p>
        </div>
      </ng-template>
    </div>
  </div>
</section>
<app-footer *ngIf="isLogin"></app-footer>
