<app-header *ngIf="isLogin"></app-header>
<app-auth-header *ngIf="!isLogin"></app-auth-header>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">term and condition</h1>
      </div>
    </div>
    <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4 ">
      <div class="row" [innerHTML]="terms"></div>
    </div>
  </div>
</section>
<app-footer *ngIf="isLogin"></app-footer>