<app-header></app-header>
<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 mt-2 text-center">
        <ul class="f-p-links margin_bottom">
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/my-properties"><i class="fa fa-home" aria-hidden="true"></i> My Properties</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/add-property"><i class="fa fa-home" aria-hidden="true"></i> Add Property</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/my-messages"><i class="fa fa-comments" aria-hidden="true"></i>My Messages</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/buyers-requests"><i class="fa fa-users" aria-hidden="true"></i>Buyers Requests</a></li>
          <li><a href="#" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">My Properties</h1>
      </div>
    </div>
    <ng-template ngFor [ngForOf]="tempProperties" let-property>
      <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4">
        <div class="row">
          <div class=" col-sm-2  mb-2 vcenter">
            <a routerLink="/property-detail/{{property._id}}"> <img class="img-responsive" [src]="property.photos.length ? property.photos[0] : 'assets/images/property.png'" alt=""></a>
          </div>
          <div class="  col-sm-9  vcenter text-center text-sm-left">
            <h3 class="mb-0"><a routerLink="/property-detail/{{property._id}}">{{property.title}}</a></h3>
            <p class="mb-0">{{property.location}}</p>
            <p ><strong>Status: </strong> {{property.status}}</p>
            <p class="mb-1 btn-brown text-center align-middle"><strong>{{property.price_upon_request ? 'Price upon request' : convertToCommas(property.price)}}</strong></p>
          </div>
          <div class="col-md-1 col-sm-2 text-center d-flex align-items-top justify-content-center px-sm-0">
            <p class="mb-1 text-center "> <a class="btn-brown btn-icon" routerLink="/edit-property/{{property._id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a></p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="tempProperties.length === 0">
      <div class="col text-center">
        <h3 class="my-3">No properties found!</h3>
      </div>
    </ng-template>
    <div class="row mt-5 mb-4" *ngIf="totalPages.length > 1">
      <div class="col text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              Showing {{pageStart}} - {{getCurrentRange()}} of {{totalPages.length}}
            </li>
            <ng-template ngFor [ngForOf]="totalPages" let-page>
              <li class="page-item active" (click)="changePage(page)" [class.active]="page === currentPage">
                <a class="page-link">{{page}}</a>
              </li>
            </ng-template>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
