<app-header></app-header>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Tours</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" *ngIf="tours.upcoming.length > 0">
      <div class="col mb-4">
        <h3>Upcoming Tours</h3>
      </div>
    </div>
    <ng-template ngFor [ngForOf]="tours.upcoming" let-tour>
      <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4 ">
        <div class="row">
          <div class="col-lg-3 order-lg-2 d-flex align-items-top ">
            <p class="date font-14">
              <i class="fa fa-calendar  pr-2 float-left" aria-hidden="true"></i>
              <span>{{tour.submission_date | date:'dd-MM-yyyy'}}</span>,
              <span>Last submission date</span>
            </p>
          </div>
          <div class="col-lg-9  order-lg-1">
            <h3><a routerLink="/tour-detail/{{tour._id}}">{{tour.title}}</a></h3>
            <p class="font-14">{{tour.description}}</p>
            <button data-toggle="modal" [disabled]="isDatePassed(tour.submission_date)" (click)="onSubmitProperty(tour)" data-target=".bd-modal-lg" class="btn-brown d-print-none">Submit your property</button>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="row" *ngIf="tours.scheduled.length > 0">
      <div class="col mt-5  ">
        <h3 class="mb-4">Scheduled Tours</h3>
      </div>
    </div>
    <ng-template ngFor [ngForOf]="tours.scheduled" let-tour>
      <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4 ">
        <div class="row">
          <div class="col-lg-3 order-lg-2 d-flex align-items-top ">
            <p class="date font-14">
              <i class="fa fa-calendar  pr-2 float-left" aria-hidden="true"></i>
              <span>{{tour.tour_date | date:'dd-MM-yyyy'}}</span>,
              <span>Tour date</span>
            </p>
          </div>
          <div class="col-lg-9  order-lg-1">
            <h3><a routerLink="/tour-detail/{{tour._id}}">{{tour.title}}</a></h3>
            <p class="font-14">{{tour.description}}</p>
            <a routerLink="/tour-detail/{{tour._id}}" class="btn-brown">View Details</a>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="row" *ngIf="tours.past.length > 0">
      <div class="col mt-5">
        <h3 class="mb-4">Past Tours</h3>
      </div>
    </div>
    <ng-template ngFor [ngForOf]="tours.past" let-tour>
      <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4 ">
        <div class="row">
          <div class="col-lg-3 order-lg-2 d-flex align-items-top ">
            <p class="date font-14">
              <i class="fa fa-calendar  pr-2 float-left" aria-hidden="true"></i>
              <span>{{tour.tour_date | date:'dd-MM-yyyy'}}</span>,
              <span>Past Tour date</span>
            </p>
          </div>
          <div class="col-lg-9  order-lg-1">
            <h3><a routerLink="/tour-detail/{{tour._id}}">{{tour.title}}</a></h3>
            <p class="font-14">{{tour.description}}</p>
            <a routerLink="/tour-detail/{{tour._id}}" class="btn-brown">View Details</a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
<div class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <form action="">
            <div class="row">
              <div class="col">
                <h2 class="text-center text-uppercase mt-3 mb-3">My properties</h2>
              </div>
            </div>
            <div class="row">
              <ng-template ngFor [ngForOf]="myProperties" let-prop let-i="index">
                <div class="form-check col-lg-6">
                  <input type="checkbox" name="check" [disabled]="isAlreadyIn(prop._id)" [checked]="isSelectedProp(i)" (change)="onToggleProperty(i)" class="form-check-input">
                  <label class="form-check-label" for="check1">
                    <div class="row" style="margin-left: 0px;">
                      <div class="col-4 mt-2">
                        <img class="img-responsive" *ngIf="prop.photos.length > 0" [src]="prop.photos[0]" alt="">
                      </div>
                      <div class="col-8 mt-2  ">
                        <h5>{{prop.title}}</h5>
                        <p class="mb-1">{{prop.location}}</p>
                        <p class="mb-1"><strong>Agent:</strong> {{prop.firstname + ' ' + prop.lastname}}</p>
                        <p class="mb-1"><strong>${{prop.price}}</strong></p>
                      </div>
                    </div>
                  </label>
                </div>
              </ng-template>
            </div>
            <div class="col text-center mt-4 mb-4">
              <button type="button" (click)="onSubmit()" class="btn-brown text-center" data-dismiss="modal" aria-label="Close">Submit Property</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
