<app-header></app-header>
<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 mt-2 text-center">
        <ul class="f-p-links margin_bottom">
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/my-properties"><i class="fa fa-home" aria-hidden="true"></i> My Properties</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/add-property"><i class="fa fa-home" aria-hidden="true"></i> Add Property</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/my-messages"><i class="fa fa-comments" aria-hidden="true"></i>My Messages</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/buyers-requests"><i class="fa fa-users" aria-hidden="true"></i>Buyers Requests</a></li>
          <li><a href="#" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">MY Profile</h1>
      </div>
    </div>
    <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4">
      <div class="row py-5">
        <div class="col-lg-3 offset-lg-1">
          <div class="agent-p-img text-center">
            <img #imgHolder (load)="onImageUpdated(imgHolder)" *ngIf="userProfileImg" [src]="userProfileImg" class="img-responsive w-100" alt="image" />
            <div (click)="showUpdatePhoto()" class="photo_hover" #photoHover>
              <span>Edit</span>
            </div>
            <button style="margin-top: 10px" type="button" *ngIf="isFileSelect" [disabled]="!isFileSelect" (click)="updateProfileImage()" class="btn-brown w-100">Upload Picture</button>
            <input type="file" accept="image/x-png,image/jpeg" (change)="onFileSelect()" #profilePhoto style="visibility: hidden; width: 0px; height: 0px"/>
            <p class="text-center">Minimum 400px x 400px<span>*</span></p>
          </div>
        </div>
        <div class="col-lg-7">
          <form [formGroup]="form" *ngIf="form">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label text-md-right">First Name:</label>
              <div class="col-sm-8 offset-md-1">
                <input
                type="text"
                [formControl]="form.controls.firstname"
                [class.i-error]="form.controls.firstname.invalid && form.controls.firstname.touched"
                class="form-control"
                value="">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label text-md-right">Last Name:</label>
              <div class="col-sm-8 offset-md-1">
                <input type="text" [formControl]="form.controls.lastname" class="form-control" value="" [class.i-error]="form.controls.lastname.invalid && form.controls.lastname.touched">
              </div>
            </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-3 col-form-label text-md-right">Mobile:</label>
              <div class="col-sm-8 offset-md-1">
                <input type="text" [formControl]="form.controls.phone" class="form-control" value="(00) 123 456 789" [class.i-error]="form.controls.phone.invalid && form.controls.phone.touched">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label text-md-right">Email</label>
              <div class="col-sm-8 offset-md-1">
                <input type="email" [formControl]="form.controls.email" class="form-control" value="" [class.i-error]="form.controls.email.invalid && form.controls.email.touched">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label text-md-right"> Brokerage:</label>
              <div class="col-sm-8 offset-md-1">
                <input type="text" [formControl]="form.controls.brokerage" class="form-control" value="" [class.i-error]="form.controls.brokerage.invalid && form.controls.brokerage.touched">
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label text-md-right"> Adress:</label>
              <div class="col-sm-8 offset-md-1">
                <input type="text" [formControl]="form.controls.address" class="form-control" value="" [class.i-error]="form.controls.address.invalid && form.controls.address.touched">
              </div>
            </div> -->
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label text-md-right">About:</label>
              <div class="col-sm-8 offset-md-1">
                <textarea name="" maxlength="25000" [formControl]="form.controls.about" value="" class="form-control" id="message" cols="30" rows="8"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-3 col-form-label text-right"></label>
              <div class="col-sm-8 offset-md-1">
                <button type="button" [disabled]="!form.valid" (click)="saveProfile()" class="btn-brown w-100">Save Changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Change Your Password</h1>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <form [formGroup]="pForm" *ngIf="pForm">
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-4  text-md-right">Current Password</label>
            <div class="col-sm-8 ">
              <input type="password" [formControl]="pForm.controls.password" name="inputPassword" value="" class="form-control" placeholder="Current Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="newPassword" class="col-sm-4  text-md-right">New Password</label>
            <div class="col-sm-8 ">
              <input type="password" [formControl]="pForm.controls.new_password" name="newPassword" value="" class="form-control" placeholder="New Password">
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmPassword" class="col-sm-4  text-md-right">Confirm Password</label>
            <div class="col-sm-8 ">
              <input type="password" [formControl]="pForm.controls.cnew_password" name="confirmPassword" value="faisal.khan@123" class="form-control" placeholder="Confirm Password">
            </div>
          </div>
          <div *ngIf="perror" class="form-group row">
            <p>{{perror}}</p>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-4 col-form-label text-md-right"></label>
            <div class="col-sm-8 offset-md-1">
              <button type="button" (click)="updatePassword()" class="btn-brown w-100">update Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
