@charset "utf-8";

/* CSS Document */

body {
    color: #555555;
    background-color: #fafafa;
}
h1 {
    color: #5e3821
}
h3 {
    color: #000000;
}
.heading-color{ color: #5e3821}
.white-color{color: #FFFFFF}

.login h1,.login .text,.login h3 { color: #FFFFFF}
.login h1 span,.login h2 span, .login h3 span{color: #ffcbae}
.link{color:#ac7e63; text-decoration: underline}


.bg .navbar-light.bg-dark {
    background-color: transparent !important;
}
.bg .navbar-light.bg-dark.menu-open{background-color: #5e3821 !important;}


.navbar {
    background-color: #5e3821;
}
.navbar .navbar-nav>li>a {
    color: #FFFFFF;
}
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a.act {
    color: #ffcbae
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}
.menu-open.navbar .navbar-nav>li>a,
.nav-down.navbar .navbar-nav>li>a {
    color: rgba(rgba(225, 255, 255, 1));
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 214, 100, 1);
}
.shaded {
    background: #fafafa;
}
.white-box {
    background-color: #FFFFFF;
}
.white-box .date,
.white-box .fa {
    color: #ad724e
}
footer,
footer a {
    color: #ffffff;
    background-color: #d5a488
}
footer ul li a:hover,
{
    color: #845a41
}