@media screen and (max-width:1980px) {
    .container-fluid.widt {
        width: 80%;
    }
    
}
@media screen and (max-width:1679px) {
    .container-fluid.widt {
        width: 75%;
    }
}
@media screen and (max-width:1439px) {
    .container-fluid.widt {
        width: 90%;
    }
}
@media screen and (max-width:1280px) {}
@media screen and (max-width:1199px) {
    .login .white-box {
        width: 60%;
        margin: 0 auto;
    }
    .navbar .navbar-brand {
        height: 62px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .navbar-nav {
        text-align: center;
    }
    .f-p-links > li a {
        font-size: 14px;
        padding: 12px 5px;
    }
    .more-filter .text-1,
    .more-filter .text-2,
    .more-filter .icon {
        font-size: 12px;
    }
}
@media screen and (max-width: 992px) {
    .f-p-links > li a {
        font-size: 0px;
    }
}
@media screen and (max-width: 1023px) {
        .login .white-box {
        width: 80%;
        margin: 0 auto;
    }
    .single-query-slider {
        margin: 0px 0px 45px;
    }
}
@media screen and (max-width:767px) {
            .login .white-box {
        width: 100%;
        margin: 0 auto;
    }
    .login h1 {
        font-size: 1.625rem;
        font-weight: 700;
        line-height: 2rem
    }
    .login p {
        font-size: 0.875rem
    }
    .login p.font-12 {
        font-size: 12px;
    }
    .f-p-links > li a {
        font-size: 0;
    }
    h1 {
        font-size: 1.5rem;
    }
    h1.mt-5,
    h1.my-5 {
        margin-top: 1.5rem!important;
    }
}
@media screen and (min-width: 768px) {
    .billingForm{
         width: 60%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1024px) {
        .billingForm{
         width: 50%;
        margin: 0 auto;
    }
    
    
}