.bg {
    background-image: url(../images/bg.jpg);
    background-color: #000000;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.search {
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: 0px 4px 12px -5px rgba(69, 68, 69, 0.4);
    -moz-box-shadow: 0px 4px 12px -5px rgba(69, 68, 69, 0.4);
    box-shadow: 0px 4px 12px -5px rgba(69, 68, 69, 0.4);
}
.group-button-search {
    margin-top: 10px;
    position: relative;
    z-index: 0;
}
.more-filter .fa {
    background: #5e3821;
    border-radius: 100%;
    color: #fff !important;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.group-button-search {
    display: inline-block;
}
.search-form-group {
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
}
.more-filter .text-1,
.more-filter .text-2 {
    cursor: pointer;
    padding-right: 0;
}
.more-filter > .text-1 {
    transition: all 0.5s ease 0s;
}
.more-filter > .text-2 {
    transition: all 0.5s ease 0s;
}
.more-filter .text-1,
.more-filter .text-2,
.more-filter .icon {
    color: #1f1f1f;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
}
.search-form-group .type-checkbox {
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin-bottom: 0;
}
.search-form-group input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}
.search-form-group input[type=checkbox] + label:before {
    content: "\f096";
}
.search-form-group input[type=checkbox] + label:before {
    letter-spacing: 10px;
}
.search-form-group input[type=checkbox]:checked + label:before {
    content: "\f14a";
}
.search-form-group input[type=checkbox]:checked + label:before {
    letter-spacing: 9px;
}
.search-form-group.white .type-checkbox {
    color: #999999;
}
.hide {
    display: none!important;
}
.toggle-btn button {
    background: rgba(0, 0, 0, 0.2);
    border: 0 none;
    border-radius: 2px 2px 0 0;
    color: #fff;
    font-size: 24px;
    height: 36px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    width: 65px;
}
.nstSlider {
    height: 3px;
    top: 8px;
    clear: both !important;
    background-color: #e1e7ec;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.nstSlider .rightGrip,
.nstSlider .leftGrip {
    background-color: #d5a488;
    height: 15px;
    top: -7px;
    width: 15px;
}
.nstSlider .bar {
    height: 3px;
    top: 0;
    background-color: #d5a488;
}
.leftLabel,
.rightLabel {
    color: #535353;
    display: inline-block;
}
.price {
    display: inline-block;
    float: right;
    color: #535353;
    font-size: 14px;
}
.single-property {
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.card-body {
    max-height: 135px;
    height: 135px;
    position: relative;
}
.card-body span {
    color: #000;
    padding: 5px 15px;
    position: absolute;
    background-color: #ffcbae;
    border-radius: 3rem;
    width: 110px;
    height: 32px;
    text-align: center;
    left: 50%;
    margin-left: -50px;
    top: -15px;
}

.card-body h4 {
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-image {
    background: #222;
    position: relative;
    max-height: 200px;
    overflow: hidden;
}

.card-image img {
    max-width: inherit;
}

 .card-image span {
    color: #000;
    padding: 5px 15px;
    position: absolute;
    background-color: #ffcbae;
    border-radius: 3rem;
    bottom: -16px;
    width: 100px;
    height: 32px;
    text-align: center;
    left: 50%;
    margin-left: -50px;
}
.single-property img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.property-details .pro-list > li {
    margin-bottom: 10px;
    padding: 0 0 0 8px;
    transition: all 0.7s ease 0s;
    cursor: pointer;
}
#property-d-1-2 .item > img {
    opacity: 0.4;
    width: 100%;
}
#property-d-1-2 .synced .item img {
    opacity: 1;
}
#property-d-1-2 {
    position: relative;
}
#property-d-1-2 .item {
    margin: 5px;
}
#property-d-1-2 .item:last-child {
    margin-right: 10px;
}
#property-d-1-2 .item:first-child {
    margin-left: 10px;
}
#property-d-1-2 .item {
    background: rgba(0, 0, 0, 1);
    margin: 20px 5px;
    color: #FFF;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
}
.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}
.owl-prev,
.owl-next {
    background: #fff;
    border: none;
    border-radius: 4px;
    display: inline-block !important;
    line-height: 15px;
    margin-right: 5px;
    padding: 10px 15px;
    position: absolute;
    top: 45%;
}
.property_features .border {
        padding: 1.2rem 0rem;
    font-size: .85rem;
    height: 88px;
    line-height: 20px;
}
.card-body,
.propertyfeatures {
    border: 1px solid #000000;
    border-top: 0px;
}
.single-property .bdt {
    border-top: 1px solid #e5e5e5 !important;
}
.single-property .bdb0 {
    border-bottom: 0px !important;
}
.single-property .fa {
    color: #5e3821
}
.pagination li:first-child {
    margin-right: 15px;
    padding-top: 5px;
}
.pagination li {
    margin: 0px 5px;
}
.img-box-80 {
    width: 80px;
    float: left
}
.form-control {
    padding: .75rem .5rem;
    border-radius: 0rem;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.6rem + 4px);
}
.dropzone {
    position: relative;
    border: 1px solid #d5dadf;
    border-radius: 3px;
    background: #fcfcfc;
    display: inline-block;
    width: 100%;
    padding: 15px;
    border-radius: 4px;
}
.searchinput{
    padding: .3rem  .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.container-fluid {
    width: 95%
}
.white-box .fa.font.green{ font-size: 16px; color: #209414}
footer {
    padding-top: 25px;
    padding-bottom: 10px;
    margin-top: 10rem;
}
footer ul li {
    display: inline-block;
    margin: 0px 15px;
}
.rmv-icon {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.rmv-icon i {
    font-size: 16px !important;
    top: 2px;
    position: relative;
    cursor: pointer;
}
.i-error {
    border: 1px solid #f58e8e !important;
}
.form-control:focus {
    box-shadow: none !important;
}

button:disabled {
    background: #a97f64;
    cursor: no-drop;
}

.faq-item {
    border-bottom: 1px solid #d8d8d8;
    margin: 15px;
    padding: 15px;
}

.faq-item p {
    margin-bottom: 3px;
}

.faq-item.no-border {
    border-bottom: 0px;
}

.prev-holder {
    padding: 0px;
    display: flex;
    justify-content: flex-start;
}

.prev-holder .i-preview {
    max-width: 80px;
    margin: 10px 0px;
    height: 80px;
    overflow: hidden;
    position: relative;
}

.prev-holder .i-preview:nth-child(n+2) {
    margin-left: 5px;
}

.prev-holder .i-preview img {
    height: 100%;
    width: 100%;
}

.prev-holder .i-preview .clear-box {
    position: absolute;
    background: rgba(0,0,0,0);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.prev-holder .i-preview .clear-box:hover {
    background: rgba(0,0,0,0.2);
}

.prev-holder .i-preview .clear-box:hover i {
    display: block;
}

.prev-holder .i-preview .clear-box i {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    padding: 2px 5px;
}

.photo_hover {
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0);
}

.photo_hover:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.photo_hover span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    padding: 28px 20px 28px 20px;
    opacity: 0.5;
    visibility: hidden;
}

.photo_hover:hover span {
    visibility: visible;
}

.pro-video iframe {
    max-width: 560px !important;
    max-height: 315px !important;
    width: 560px !important;
    height: 315px !important;
}

.pro-map iframe {
    max-width: 560px !important;
    max-height: 315px !important;
    width: 560px !important;
    height: 315px !important;
}

.a_holder {
    max-width: 350px;
    max-height: 350px;
    min-width: 350px;
    min-height: 350px;
    overflow: hidden;
    position: relative;
    background: #fff;
}

@media (max-width: 1199px) {
    .a_holder {
        max-width: 290px;
        max-height: 290px;
        min-width: 290px;
        min-height: 290px;
    }
}

.a_holder img {
    width: 100%;
    margin-top: 0px !important;
}
