    html {
        font: normal 1rem/1.5 'Poppins', sans-serif;
    }
    body {
        font: normal 1rem/1.5 'Poppins', sans-serif;
    }
    label {
        font-weight: normal;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    h2 {
        font-size: 1.875rem;
        line-height: 1.5;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 1.2;
    }
    h4 {
        font-size: 1.25rem;
        line-height: 1.2;
    }
    h5 {
        font-size: 1.125rem;
        line-height: 1.14286;
    }
    h6 {
        font-size: 1rem;
        line-height: 1.14286;
    }
    .login h1 {
        font-size: 2.625rem;
        font-weight: 700;
    }
    .login h3,
    .login h2 {
        font-weight: 700
    }
    .login h3 span {
        font-size: 1.875rem;
    }
    .form-control {
        font-size: 0.875rem;
    }
    .single-query-slider label,
    .font-14, .white-box i.font-14 {
        font-size: 0.85rem
    }
    .signUpForm .form-group {
        margin-bottom: .5rem;
    }
    .loginForm .form-group {
        margin-bottom: .5rem;
    }
    .font-12 {
        font-size: 0.75rem;
    }
    .date {
        font-weight: 500
    }
    .white-box .fa,
    .date .fa {
        font-size: 24px;
    }
    .messageform label {
        font-weight: 500;
    }
    footer {
        font-size: 0.875rem;
        font-weight: 300;
    }
