<app-header></app-header>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">history</h1>
      </div>
    </div>
    <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4 ">
      <div class="row  justify-content-between">
        <div class="col-md-6">
          <h3 class="mt-2">Completed Listings</h3>
        </div>
        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="search" (change)="onSearchApplied()">
            <option value="date">Sort by: Date Removed</option>
            <option value="price">Sort by: List Price </option>
            <option value="status">Sort by: Reason</option>
            <option value="agent">Sort by: Agent</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-4">
          <div class="table-responsive-lg">
            <table class="table histroy table-striped">
              <thead>
                <tr>
                  <th scope="col">Address </th>
                  <th scope="col">List Price when Removed </th>
                  <th scope="col">Reason For Removing </th>
                  <th scope="col">Listing Agent</th>
                  <th scope="col"> Date Removed</th>
                </tr>
              </thead>
              <tbody>
                <ng-template ngFor [ngForOf]="tempProperties" let-prop>
                  <tr>
                    <td>{{prop.location}}</td>
                    <td>{{prop.price}}</td>
                    <td>{{prop.status}}</td>
                    <td>{{prop.firstname + ' ' + prop.lastname}}</td>
                    <td>{{prop.removed_date | date:'MMM dd yyyy'}}</td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-4" *ngIf="totalPages.length > 1">
        <div class="col text-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                Showing {{pageStart}} - {{getCurrentRange()}} of {{totalPages.length}}
              </li>
              <ng-template ngFor [ngForOf]="totalPages" let-page>
                <li class="page-item active" (click)="changePage(page)" [class.active]="page === currentPage">
                  <a class="page-link">{{page}}</a>
                </li>
              </ng-template>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
