<app-header></app-header>
<!-- Property Listing area Start -->
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">{{property.title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 listing1 property-details">
        <div id="property-d-1" class="owl-carousel" *ngIf="property._id">
          <ng-template ngFor [ngForOf]="property.photos" let-photo>
            <div class="item"><img [src]="photo" alt="image" /></div>
          </ng-template>
        </div>
        <div id="property-d-1-2" *ngIf="property.photos.length > 1" class="owl-carousel">
          <ng-template ngFor [ngForOf]="property.photos" let-photo>
            <div class="item"><img [src]="photo" alt="image" /></div>
          </ng-template>
        </div>
        <div class="row property_meta bg-black  mt-3 align-items-center">
          <div class="col-md-8">
            <div class="row text-center property_features ">
              <div class="col mt-3 mb-3 mx-1 px-0">
                <div class="border"><i class="fa fa-bed" aria-hidden="true"></i>
                  <br />{{property.bedrooms}} Bed
                </div>
              </div>
              <div class="col mt-3 mb-3 mx-1 px-0">
                <div class="border"><i class="fa fa-shower" aria-hidden="true"></i>
                  <br />{{property.bathrooms}} Baths
                </div>
              </div>
              <div class="col mt-3 mb-3 mx-1 px-0">
                <div class="border"><i class="fa fa-expand" aria-hidden="true"></i>
                  <br />{{property.size_prefix}} SqFt
                </div>
              </div>
              <div class="col mt-3 mb-3 mx-1 px-0">
                <div class="border"><i class="fa fa-car" aria-hidden="true"></i>
                  <br />{{property.garages}} Garage
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-md-right text-xs-center">
            <h3>{{convertToCommas(property.price)}}</h3>
          </div>
        </div>
        <h2 class="text-uppercase mt-3">Property Description</h2>
        <p class="mb-4">{{property.description}}</p>
        <h2 class="text-uppercase  ">Quick Summary</h2>
        <div class="row property-d-table mb-4">
          <div class="col-md-6 ">
            <table class="table table-striped">
              <tbody>
              <tr>
                <td><b>Price</b></td>
                <td class="text-right"><span>{{property.price_upon_request ? 'Price upon request' : convertToCommas(property.price)}}</span></td>
              </tr>
              <tr>
                <td><b>Property Size</b></td>
                <td class="text-right">{{property.size_prefix}}</td>
              </tr>
              <tr>
                <td><b>Bedrooms</b></td>
                <td class="text-right">{{property.bedrooms}}</td>
              </tr>
              <tr>
                <td><b>Bathrooms</b></td>
                <td class="text-right">{{property.bathrooms}}</td>
              </tr>
              <tr>
                <td><b>Garages</b></td>
                <td class="text-right">{{property.garages}}</td>
              </tr>
              <tr>
                <td><b>Acres</b></td>
                <td class="text-right">{{property.acres}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 ">
            <table class="table table-striped">
              <tbody>
              <tr>
                <td><b>Status</b></td>
                <td class="text-right">{{property.status}}</td>
              </tr>
              <tr>
                <td><b>Swimming pool</b></td>
                <td class="text-right">{{property.no_swiming_pool}}</td>
              </tr>
              <tr>
                <td><b>Year Built</b></td>
                <td class="text-right">{{property.year_built}}</td>
              </tr>
              <tr>
                <td><b>Living Areas</b></td>
                <td class="text-right">{{property.tv_launge}}</td>
              </tr>
              <tr>
                <td><b>Property Type</b></td>
                <td class="text-right">{{property.prop_type}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h2 class="text-uppercase  ">Features</h2>
        <div class="row mb-4">
          <ng-template ngFor [ngForOf]="showfeatures" let-feat>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="pro-list">
                <ng-template ngFor [ngForOf]="feat" let-fname>
                  <li>{{fname}}</li>
                </ng-template>
              </ul>
            </div>
          </ng-template>
        </div>
        <h2 class="text-uppercase" *ngIf="property.video_url">Video Presentation</h2>
        <div class="row mb-4" *ngIf="property.video_url">
          <div class="col-md-12 padding-b-20">
            <div class="pro-video">
              <ng-template [ngIf]="property.video_type === 'vimeo'">
                <iframe [src]="getSafeUrl('https://player.vimeo.com/video/' + property.video_embed_url)" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </ng-template>
              <ng-template [ngIf]="property.video_type === 'youtube'">
                <iframe width="560" height="315" [src]="'https://www.youtube.com/embed/' + property.video_embed_url | safe" allowTransparency="true" background="transparent" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

              </ng-template>
            </div>
          </div>
        </div>
        <h2 class="text-uppercase" *ngIf="!!propMap">Google map</h2>
        <div class="row mb-4" *ngIf="!!propMap">
          <div class="col-md-12 padding-b-20">
            <div class="pro-map" >
              <a [href]="propMap" target="_blank">{{propMap}}</a>
            </div>
          </div>
        </div>
        <!-- <h2 class="text-uppercase">Property Map</h2>
        <div class="row mb-4">
          <div class="col-md-12 bottom20">
            <div class="property-list-map">
              <div id="property-listing-map" class="multiple-location-map" style="width:100%;height:430px;"></div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="col-lg-4">
        <h3>Contact agent</h3>
        <div class="row mb-4">
          <div class="col-lg-12 col-md-4 col-sm-2">
            <a routerLink="/agent-detail/{{propUser._id}}"><img class=" mt-2 img-responsive" *ngIf="propUser.profile_image" [src]="propUser.profile_image" alt="" /></a>
          </div>
          <div class="col-lg-12 col-md-8 col-sm-10">
            <h3 class="mt-2"><a routerLink="/agent-detail/{{propUser._id}}">{{propUser.firstname + ' ' + propUser.lastname}}</a></h3>
            <!-- <p><i class="fa fa-map-marker pr-4" aria-hidden="true"></i> {{propUser.address}}</p> -->
            <p><a href="mailto:{{propUser.email}}"><i class="fa fa-envelope pr-4" aria-hidden="true"></i> {{propUser.email}}</a></p>
            <p><a href="tel:{{propUser.phone}}"><i class="fa fa-phone pr-4" aria-hidden="true"></i> {{propUser.phone}}</a></p>
            <p><a routerLink="/agent-detail/{{propUser._id}}">{{trimAbout(propUser.about)}}</a></p>

          </div>
        </div>
        <h3>More Properties for {{propUser.firstname}}</h3>
        <div class="row">
          <ng-template ngFor [ngForOf]="relProps" let-prop>
            <div class="col-md-12">
              <img class="img-responsive" [src]="prop.photos.length ? prop.photos[0] : 'assets/images/property.png'" alt="">
              <div class="row justify-content-between">
                <div class="col-12">
                  <h5><a class="link" routerLink="/property-detail/{{prop._id}}" (click)="getPropertyDetails()" style="text-decoration: none">{{prop.title}}</a></h5>
                </div>
                <div class="col-12" style="padding-bottom: 30px">
                  <h5>{{convertToCommas(prop.price)}}</h5>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="row">
          <div class="col-12"><a routerLink="/agent-detail/{{propUser._id}}" class="btn-brown w-100 text-center mt-3">View All Properties</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
