<app-header></app-header>
<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 mt-2 text-center">
        <ul class="f-p-links margin_bottom">
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/my-properties"><i class="fa fa-home" aria-hidden="true"></i> My Properties</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/add-property"><i class="fa fa-home" aria-hidden="true"></i> Add Property</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/my-messages"><i class="fa fa-comments" aria-hidden="true"></i>My Messages</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/buyers-requests"><i class="fa fa-users" aria-hidden="true"></i>Buyers Requests</a></li>
          <li><a href="#" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">My Messages</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4">
      <div class="row">
        <div class="col-12 text-center" (click)="writeMsg()">
          <a data-toggle="collapse" href=".message" #collpse class="more-filter">
            <i class="font-14  fa fa-plus text-1" aria-hidden="true"></i>
            <i class="font-14 fa fa-minus text-2 hide" aria-hidden="true"></i>
            <strong> Write Message</strong>
          </a>
        </div>
        <div class="col-12 " *ngIf="showWriteMsg">
          <!--<div [froalaEditor]>Hello, Froala!</div>-->
          <div class="message collapse my-4">
            <form class="messageform" [formGroup]="form" *ngIf="form">
              <div class="form-group row">
                <label for="inputPassword" class="col-md-2 offset-md-1 col-form-label">Title</label>
                <div class="col-md-8">
                  <input type="input" [formControl]="form.controls.title" class="form-control" id="title" placeholder="title">
                </div>
              </div>
              <div class="form-group row ">
                <label for="inputPassword" class="col-md-2 offset-md-1  col-form-label">Message</label>
                <div class="col-md-8">
                  <textarea [froalaEditor]  name="" [formControl]="form.controls.message" placeholder="Your Message here..." class="form-control" id="message" cols="30" rows="8" style="white-space: pre-wrap"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-3 offset-md-5   text-right form-group">
                  <button type="submit" data-toggle="collapse" href=".message"  #collpse class="btn-brown w-100">Cancel</button>
                </div>
                <div class="col-md-3   text-right form-group">
                  <button type="button" (click)="onCreateMessage()" class="btn-brown w-100">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="messages my-4" >
      <form class="messageform" [formGroup]="form" *ngIf="form">
        <div class="form-group row">
          <label for="inputPassword" class="col-md-2 offset-md-1 col-form-label">Title</label>
          <div class="col-md-8">
            <input type="input" [formControl]="form.controls.title"  class="form-control" id="titles" placeholder="title">
          </div>
        </div>
        <div class="form-group row ">
          <label for="inputPassword" class="col-md-2 offset-md-1  col-form-label">Message</label>
          <div class="col-md-8">
            <textarea [froalaEditor]  name="" [formControl]="form.controls.message" placeholder="Your Message here..." class="form-control" id="messages" cols="30" rows="8" style="white-space: pre-wrap"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3 offset-md-5   text-right form-group">
            <button type="submit" data-toggle="collapse" href=".messages"  #collpse class="btn-brown w-100">Cancel</button>
          </div>
          <div class="col-md-3   text-right form-group">
            <button type="button" (click)="onEditMessage()" data-toggle="collapse" href=".messages" #collpse  class="btn-brown w-100">Submit</button>
          </div>
        </div>
      </form>
    </div> -->
   


    <ng-template ngFor [ngForOf]="messages" let-msg>
      <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4">
        <div class="row">
          <div class="col-sm-2">
            <div class="row mb-4">
              <div class="profile-img col-sm-12 col-4">
                <a routerLink="/agent-detail"><img class=" img-responsive" [src]="msg.profile_image" /></a>
              </div>
              <div class=" col-sm-12 col-8 ">
                <a routerLink="/agent-detail">{{msg.firstname + ' ' + msg.lastname}}</a>
                <p class="mb-0">
                  <a href="mailto:{{msg.email}}" style="color:#ad724e;font-size: 15px " data-toggle="tooltip" data-placement="top" title="{{msg.email}}">{{trimEmail(msg.email)}}</a>
                  <a href="tel:{{msg.phone}}" style="color:#ad724e;font-size: 15px " data-toggle="tooltip" data-placement="top" title="{{msg.phone}}">{{trimPhone(msg.phone)}}</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-10 px-2">
            <div class="row">
              <div class="col-md-8">
                <h3>{{msg.title}}</h3>
                <p class="date ">{{msg.date | date:'MMM-dd-yyyy, hh:mm:aaa'}}</p>
              </div>
              <div class="col-md-4 text-md-right">
                <button class="btn-brown btn-icon " data-toggle="collapse" href=".messages" #collpse  (click)="onEdit(msg)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                <button class="btn-brown btn-icon" (click)="onDelete(msg)"><i class="fa fa-trash" aria-hidden="true"></i></button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9" [innerHtml]="msg.message" style="white-space: pre-wrap"></div>
              <!-- <div class="col-md-3 text-md-right"><p class="date ">{{msg.date | date:'MMM-dd-yyyy, hh:mm:aaa'}}</p></div> -->
            </div>

          </div>
        </div>
      </div>
      <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4" *ngIf="msg._id==editId && !showWriteMsg">
        <div class="row">
          
          <div class="col-12 ">
            <!--<div [froalaEditor]>Hello, Froala!</div>-->
            <div>
              <form class="messageform" [formGroup]="form" *ngIf="form">
                <div class="form-group row">
                  <label for="inputPassword" class="col-md-2 offset-md-1 col-form-label">Title</label>
                  <div class="col-md-8">
                    <input type="input" [formControl]="form.controls.title" class="form-control" id="title" placeholder="title">
                  </div>
                </div>
                <div class="form-group row ">
                  <label for="inputPassword" class="col-md-2 offset-md-1  col-form-label">Message</label>
                  <div class="col-md-8">
                    <textarea [froalaEditor]  name="" [formControl]="form.controls.message" placeholder="Your Message here..." class="form-control" id="message" cols="30" rows="8" style="white-space: pre-wrap"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-3 offset-md-5   text-right form-group">
                    <button type="submit" data-toggle="collapse" href=".message"  #collpse class="btn-brown w-100">Cancel</button>
                  </div>
                  <div class="col-md-3   text-right form-group">
                    <button type="button" (click)="onEditMessage()" class="btn-brown w-100">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="row mt-5 mb-4" *ngIf="totalPages.length > 1">
      <div class="col text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              Showing {{pageStart}} - {{getCurrentRange()}} of {{totalPages.length}}
            </li>
            <ng-template ngFor [ngForOf]="totalPages" let-page>
              <li class="page-item active" (click)="changePage(page)" [class.active]="page === currentPage">
                <a class="page-link">{{page}}</a>
              </li>
            </ng-template>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
