<header>
  <nav class="navbar navbar-expand-xl navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img src="assets/images/svg/logo.svg" alt="BuddyQuaid"></a>
    </div>
  </nav>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Reset password</h1>
        <p> <strong>Please enter your new password</strong> </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-0 mb-3"></h1>
      </div>
    </div>
    <div *ngIf="!done" class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4">
      <form class="billingForm mt-3" [formGroup]="form" *ngIf="form" role="billing Form">
        <div class="form-group">
          <label for="inputAddress">New Password</label>
          <input type="password" [formControl]="form.controls.password" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Confirm new password</label>
          <input type="password" [formControl]="form.controls.cpassword" class="form-control" id="inputAddress2">
        </div>
        <div class="form-group row">
          <div class="col">
            <button type="button" [disabled]="!form.valid" (click)="onChangePass()" class="btn-brown w-100">Change Password</button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="done" class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4">
      <div class="col text-center">
        <h1 class="uppercase mt-0 mb-3">{{done}}</h1>
      </div>
    </div>
  </div>
</section>
