<header>
  <nav class="navbar navbar-expand-xl navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img src="assets/images/svg/logo.svg" alt="BuddyQuaid"></a>
    </div>
  </nav>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Email confirmation</h1>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-0 mb-3">Email verified successfully!</h1>
      </div>
    </div>
  </div>
</section>
