<app-header></app-header>
<!-- Property Search area Start -->
<app-search-bar (onSearchApplied)="onSearchApplied($event)" (onClearApplied)="onClearSearch($event)"></app-search-bar>
<!-- Property Search area End -->
<!-- Property Listing area Start -->
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 ">Properties Listings</h1>
      </div>
    </div>
    <div class="row" *ngIf="properties">
      <ng-template ngFor [ngForOf]="tempProperties" let-property>
        <div class="col-md-6 col-lg-4 col-sm-6 mt-3 mb-3">
          <div class="single-property">
            <div class="card-image">
              <a routerLink="/property-detail/{{property._id}}">
                <img class="card-img-top" [src]="property.photos.length ? property.photos[0] : 'assets/images/property.png'" alt="Card image cap">
              </a>
            </div>
            <div class="card-body bdb0 text-center">
              <span>{{property.prop_status}}</span>
              <h4 class="card-title mt-3"><a routerLink="/property-detail/{{property._id}}">{{property.title}}</a><br />
                <small>{{property.location}}</small>
              </h4>
              <h5>{{property.price_upon_request ? 'Price upon request' : convertToCommas(property.price)}}</h5>
            </div>
            <div class="row text-center propertyfeatures bdt no-gutters">
              <div class="col mt-3 mb-3"><i class="fa fa-bed" aria-hidden="true"></i>
                <br />{{property.bedrooms}} Bed
              </div>
              <div class="col mt-3 mb-3"><i class="fa fa-shower" aria-hidden="true"></i>
                <br /> {{property.bathrooms}} Baths
              </div>
              <div class="col mt-3 mb-3"><i class="fa fa-expand" aria-hidden="true"></i>
                <br /> {{property.size_prefix}} SqFt
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <h3 class="py-5 my-5 text-center" *ngIf="!properties.length && isSearchApplied">No properties found!</h3>
    <div class="row mt-5 mb-4" *ngIf="totalPages.length > 1">
      <div class="col text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              Showing {{pageStart}} - {{getCurrentRange()}} of {{totalPages.length}}
            </li>
            <ng-template ngFor [ngForOf]="totalPages" let-page>
              <li class="page-item active" (click)="changePage(page)" [class.active]="page === currentPage">
                <a class="page-link">{{page}}</a>
              </li>
            </ng-template>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
