<app-header *ngIf="isLogin"></app-header>
<app-auth-header *ngIf="!isLogin"></app-auth-header>

<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Contact us</h1>
      </div>
    </div>
    <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4 ">
      <div class="row py-5">
        <div class="col-md-8 offset-md-2">
          <form name="qryform" [formGroup]="form" *ngIf="form">
            <div class="form-group">
              <label>Name:</label>
              <input type="text" [formControl]="form.controls.name" class="form-control" placeholder="Enter Name" name="name">
            </div>
            <div class="form-group">
              <label>Email:</label>
              <input type="email" [formControl]="form.controls.email" class="form-control" placeholder="Enter Email" name="email">
            </div>
            <div class="form-group">
              <label>Phone No.:</label>
              <input type="text" [formControl]="form.controls.phone" class="form-control" placeholder="Enter Phone no." name="phone">
            </div>
            <div class="form-group">
              <label>Subject:</label>
              <input type="text" [formControl]="form.controls.subject" class="form-control" placeholder="Subject" name="subject">
            </div>
            <div class="form-group">
              <label>Issues/query:</label>
              <textarea name="issues" [formControl]="form.controls.msg" class="form-control" placeholder="Enter your Issues/query"></textarea>
            </div>
            <button type="button" [disabled]="!form.valid" (click)="sendMessage()" class="btn-brown w-100">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer *ngIf="isLogin"></app-footer>