<header>
  <nav class="navbar navbar-expand-xl navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img src="assets/images/svg/logo.svg" alt="BuddyQuaid"></a>
    </div>
  </nav>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Forgot password</h1>
        <p> <strong>Please enter your email</strong> </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-0 mb-3"></h1>
      </div>
    </div>
    <div *ngIf="!sent" class="white-box mt-1 pl-4 pr-4 pt-4 pb-4">
      <form class="billingForm mt-3" role="billing Form">
        <div class="form-group">
          <label for="inputAddress">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="email">
        </div>
        <div class="form-group row">
          <div class="col" style="text-align: center;">
            <a *ngIf="!processing" (click)="sendEmail()" class="btn-brown w-100 text-center">Send password</a>
            <img *ngIf="processing" style="width: 40px;" src="assets/images/loading.gif">
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="sent" class="white-box mt-1 pl-4 pr-4 pt-4 pb-4">
      <h4>Email sent successfully!</h4>
    </div>
  </div>
</section>
