<app-header></app-header>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Agents Directory</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mb-4 justify-content-between">
      <div class="col-xl-8 mb-3 d-sm-none d-sm-none d-none d-md-block">
        <div class="btn-toolbar">
          <div class="btn-group  btn-group-sm">
            <ng-template ngFor [ngForOf]="alphabets" let-alp>
                <button (click)="sortByAlphabet(alp)" [class.act]="sortKey === alp" class="btn btn-default">{{alp}}</button>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-xl-4 text-xl-right ">
        <form id="custom-search-form" class="">
          <input type="text" class="searchinput" name="searchAgent" [(ngModel)]="searchWord" (ngModelChange)="searchAgent()" placeholder="Search"><button type="submit" class="btn "><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
    <div class="row mb-4">
      <ng-template ngFor [ngForOf]="agents" let-agent>
        <div class="col-md-4 col-sm-6 mb-3 text-center">
          <div class="a_holder">
            <a routerLink="/agent-detail/{{agent._id}}">
              <img class="mt-2 img-responsive" [src]="agent.profile_image" alt="" />
            </a>
          </div>
          <div class="white-box py-2">
            <h3 class=" mb-3"><a routerLink="/agent-detail/{{agent._id}}">{{agent.firstname + ' ' + agent.lastname}}</a></h3>
            <p class=" mb-0"><a href="tel:{{agent.phone}}">{{agent.phone}}</a></p>
            <p><a href="mailto:{{agent.email}}"> {{agent.email}}</a></p>
          </div>
        </div>
      </ng-template>
    </div>
    <!-- <div class="row mt-5 mb-4">
      <div class="col text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              Showing 1 - 10 of 30
            </li>
            <li class="page-item  active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
          </ul>
        </nav>
      </div>
    </div> -->
  </div>
</section>
<app-footer></app-footer>
