<app-header></app-header>
<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 mt-2 text-center">
        <ul class="f-p-links margin_bottom">
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/my-properties"><i class="fa fa-home" aria-hidden="true"></i> My Properties</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/add-property"><i class="fa fa-home" aria-hidden="true"></i> Add Property</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/my-messages"><i class="fa fa-comments" aria-hidden="true"></i>My Messages</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/buyers-requests"><i class="fa fa-users" aria-hidden="true"></i>Buyers Requests</a></li>
          <li><a href="#" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4"> Search Request</h1>
      </div>
    </div>
    <div class="search pt-4 pb-4 pl-4 pr-4">
      <div class="row my-3">
        <div class="col-sm-1 col-md-2"></div>
        <div class="col-sm-10 col-md-8">
          <form class="" [formGroup]="form" *ngIf="form">
            <div class="row ">
              <div class="col-sm-12">
                <h3 class="my-3">Property Detail</h3>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Title</label>
                  <div class="intro">
                    <input type="text" [formControl]="form.controls.title" class="form-control">
                  </div>
                </div>
              </div>
              <div class=" col-sm-6">
                <div class="form-group">
                  <label>City</label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.city">
                      <option value="">City</option>
                      <option *ngFor="let key of settings.cities; let i = idx">{{key.title}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="intro">
                    <label>Type of Property</label>
                    <select class="form-control" [formControl]="form.controls.prop_type">
                      <option value="">Property Type</option>
                      <option *ngFor="let key of settings.properties; let i = idx">{{key.title}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="single-query form-group ">
                  <label>Bedrooms</label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.bedrooms">
                      <option value="">Min Beds</option>
                      <option *ngFor="let key of [1,2,3,4,5,6,7,8,9,10]">{{key}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="single-query  form-group ">
                  <label>Bathrooms</label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.bathrooms">
                      <option value="">Min Baths</option>
                      <option *ngFor="let key of [1,1.5,2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9,9.5,10]">{{key}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Min sqft</label>
                  <div class="intro">
                    <input type="number" [formControl]="form.controls.size_min" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Max sqft</label>
                  <div class="intro">
                    <input type="number" [formControl]="form.controls.size_max" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Min price</label>
                  <div class="intro">
                    <input type="number" [formControl]="form.controls.price_min" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Max price</label>
                  <div class="intro">
                    <input type="number" [formControl]="form.controls.price_max" class="form-control">
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-6 ">
                <div class="single-query-slider mb-5">
                  <label>Size Range(Sq Ft) :</label>
                  <div class="price text-right">
                    <span></span>
                    <div #sizeMin class="leftLabel"></div>
                    <span>to</span>
                    <div #sizeMax class="rightLabel"></div>
                  </div>
                  <div data-range_min="0" data-range_max="10000" data-cur_min="0" data-cur_max="10000" class="nstSlider">
                    <div class="bar"></div>
                    <div class="leftGrip"></div>
                    <div class="rightGrip"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 ">
                <div class="single-query-slider mb-5">
                  <label>Price Range:</label>
                  <div class="price text-right">
                    <span>$</span>
                    <div #priceMin class="leftLabel"></div>
                    <span>to $</span>
                    <div #priceMax class="rightLabel"></div>
                  </div>
                  <div data-range_min="0" data-range_max="1500000" data-cur_min="0" data-cur_max="1500000" class="nstSlider">
                    <div class="bar"></div>
                    <div class="leftGrip"></div>
                    <div class="rightGrip"></div>
                  </div>
                </div>
              </div> -->
              <div class="col-sm-12">
                <h3 class="my-3">Property Features</h3>
                <div class="search-propertie-filters">
                  <div class="container-2">
                    <div class="row">
                      <ng-template ngFor [ngForOf]="settings.features" let-feature>
                        <div class="col-md-4 col-lg-3 col-sm-6">
                          <div class="search-form-group">
                            <input type="checkbox" [checked]="isFeatureAvailable(feature.title)" (change)="toggleFeature(feature.title)" name="check-box" />
                            <span>{{feature.title}}</span>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <h3 class="my-3">Property Description </h3>
                <textarea name=""  [formControl]="form.controls.description" placeholder="Write here something about Property" class="form-control" id="message" cols="30" rows="8"></textarea>
                <!--<small>Maximum 500 characters limit</small>-->
              </div>
              <div class="col-lg-5 mt-5">
                <button type="submit" (click)="onSearchApplied()" class="btn-brown w-100">Find Matches</button>
              </div>
              <div class="col-lg-5 mt-5">
                <button type="submit" [disabled]="!form.valid" (click)="submitRequest()" class="btn-brown w-100">Submit Request</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-1 col-md-2"></div>
      </div>
    </div>
    <div class="row" *ngIf="isSearchApplied">
      <div class="col text-center">
        <h1 #reqResult class="uppercase my-5"> Request match</h1>
      </div>
    </div>
    <ng-template [ngIf]="isSearchApplied">
      <ng-template [ngIf]="searchedProperties.length > 0">
        <ng-template ngFor [ngForOf]="searchedProperties" let-property>
          <div class="white-box mt-1 pl-4 pr-4 pt-4 pb-4">
            <div class="row">
              <div class=" col-md-2 mb-2 vcenter">
                <div class="card-image" style="overflow: visible">
                  <a routerLink="/property-detail/{{property._id}}">
                  <img class="card-img-top" [src]="property.photos.length ? property.photos[0] : 'assets/images/property.png'" alt="Card image cap"></a>
                  <span>{{property.status}}</span>
                </div>
                <p class="mt-4 mb-0 text-center"><strong>{{property.price_upon_request ? 'Price upon request' : convertToCommas(property.price)}}</strong></p>
              </div>
              <div class="col-md-7  vcenter text-center text-md-left">
                <h3 class="mb-0"><a href="propertyDetail.html">{{property.title}}</a></h3>
                <p class="mb-0">{{property.location}}</p>
                <p class="mb-0">{{property.bedrooms}} Bed, {{property.bathrooms}} Baths </p>
                <ng-template ngFor [ngForOf]="property.features" let-feat>
                  <i class="fa fa-check font green" aria-hidden="true"></i> <span>{{feat}}</span>
                </ng-template>
              </div>
              <div class="col-lg-3 col-md-2 text-center d-flex align-items-center justify-content-center px-sm-0">
                <p class="mb-1 text-center "><span class="btn gray text-center">{{property.percent}}% Match</span></p>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-template>
      <ng-template [ngIf]="searchedProperties.length === 0">
        <div class="col text-center">
          <h3 class="my-3">No matched found!</h3>
        </div>
      </ng-template>
    </ng-template>
    <div class="row" *ngIf="requests">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Buyers Requests</h1>
      </div>
    </div>
    <ng-template ngFor [ngForOf]="requests" let-request>
      <div class="white-box mt-1 pl-4 pr-4 pt-4 pb-4">
        <div class="row">
          <div class="col-md-2">
            <div class="row mb-4">
              <div class="profile-img col-md-12 col-4  ">
                <a routerLink="/agent-detail/{{request.user_id}}"><img class="img-responsive" [src]="request.profile_image" /></a>
              </div>
              <div class="col-md-12 col-8 ">
                <a routerLink="/agent-detail/{{request.user_id}}">{{request.fullname}}</a>
                <p class="mb-0"><a href="mailto:{{request.email}}"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  <a href="tel:{{request.phone}}"><i class="fa fa-phone" aria-hidden="true"></i></a></p>
              </div>
            </div>
          </div>
          <div class="  col-md-7  vcenter  text-left">
            <p class="mb-0">{{request.bedrooms}} Bed, {{request.bathrooms}} Baths</p>
            <p *ngIf="request.features">
              <ng-template ngFor [ngForOf]="request.features" let-feat>
                <i class="fa fa-check font green" aria-hidden="true"></i> <span>{{feat}}</span>
              </ng-template>
            </p>
            <p *ngIf="request.description">{{request.description}}</p>
          </div>
          <div class="col-lg-3 col-md-2 text-center d-flex align-items-center justify-content-center px-sm-0">
            <div class="row text-center">
              <div class="col-12">
                <p class="date">{{request.date | date:'MMM-dd-yyyy, hh:mm:aaa'}}</p>
              </div>
              <div class="col-12">
                <p class="mb-3 text-center "><span class="btn gray text-center">{{request.size_min}} - {{request.size_max}} sqft</span></p>
              </div>
              <div class="col-12">
                <p><strong>${{request.price_min}} - ${{request.price_max}}</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
<app-footer></app-footer>
