<app-header></app-header>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Agent Profile</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4 ">
      <div class="row mb-4">
        <div class=" col-sm-4">
          <img class="mt-2 img-responsive" [src]="user.profile_image" alt="" />
        </div>
        <div class="col-sm-8">
          <h3 class="mt-2">{{user.firstname + ' ' + user.lastname}}</h3>
          <p>{{user.about}}</p>
          <!-- <p><i class="fa fa-map-marker pr-4" aria-hidden="true"></i> {{user.address}}</p> -->
          <p><a href="mailto:{{user.email}}"><i class="fa fa-envelope pr-4" aria-hidden="true"></i> {{user.email}}</a></p>
          <p><a href="tel:{{user.phone}}"><i class="fa fa-phone pr-4" aria-hidden="true"></i> {{user.phone}}</a></p>
        </div>
      </div>
      <h3>More Properties from Falak</h3>
      <div class="row">
        <ng-template ngFor [ngForOf]="properties" let-property>
          <div class="col-md-6 col-lg-4 col-sm-6 mt-3 mb-3">
            <div class="single-property">
                <div class="card-image">
                  <a routerLink="/property-detail/{{property._id}}">
                  <img class="card-img-top" [src]="property.photos.length ? property.photos[0] : 'assets/images/property.png'" alt="Card image cap"></a>
                </div>
                <div class="card-body bdb0 text-center">
                  <span>{{property.status}}</span>
                  <h4 class="card-title mt-3"><a routerLink="/property-detail/{{property._id}}">{{property.title}}</a><br />
                    <small>{{property.location}}</small>
                  </h4>
                  <h5>{{property.price_upon_request ? 'Price upon request' : convertToCommas(property.price)}}</h5>
                </div>
                <div class="row text-center propertyfeatures bdt no-gutters">
                  <div class="col mt-3 mb-3"><i class="fa fa-bed" aria-hidden="true"></i>
                    <br />{{property.bedrooms}} Bed 
                  </div>
                  <div class="col mt-3 mb-3"><i class="fa fa-shower" aria-hidden="true"></i>
                    <br /> {{property.bathrooms}} Baths 
                  </div>
                  <div class="col mt-3 mb-3"><i class="fa fa-expand" aria-hidden="true"></i>
                    <br /> {{property.size_prefix}} SqFt 
                  </div>
                </div>
            </div>
          </div>
        </ng-template>
        <p class="py-5 text-center" *ngIf="properties.length === 0 && reqCompleted">This agent don't have any properties yet!</p>
      </div>
      <div class="row mt-5 mb-4" *ngIf="totalPages.length > 1">
        <div class="col text-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                Showing {{pageStart}} - {{getCurrentRange()}} of {{totalPages.length}}
              </li>
              <ng-template ngFor [ngForOf]="totalPages" let-page>
                <li class="page-item active" (click)="changePage(page)" [class.active]="page === currentPage">
                  <a class="page-link">{{page}}</a>
                </li>
              </ng-template>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>