<app-header></app-header>
<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 mt-2 text-center">
        <ul class="f-p-links margin_bottom">
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/my-properties"><i class="fa fa-home" aria-hidden="true"></i> My Properties</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/add-property"><i class="fa fa-home" aria-hidden="true"></i> Add Property</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/my-messages"><i class="fa fa-comments" aria-hidden="true"></i>My Messages</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="/buyers-requests"><i class="fa fa-users" aria-hidden="true"></i>Buyers Requests</a></li>
          <li><a href="#" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Add Your Property</h1>
      </div>
    </div>
    <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4">
      <div class="row pt-4 pb-5">
        <div class="col-sm-1 col-md-2"></div>
        <div class="col-sm-10 col-md-8">
          <form class="callus clearfix border_radius submit_property" [formGroup]="form" *ngIf="form">
            <div class="row">
              <div class="col-md-4">
                <div class="single-query form-group ">
                  <label>Title</label>
                  <input type="text" class="form-control" [formControl]="form.controls.title" placeholder="Enter your property title" [class.i-error]="form.controls.title.invalid && form.controls.title.touched">
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-query form-group ">
                  <label>Location</label>
                  <input type="text" class="form-control" [formControl]="form.controls.location" placeholder="Enter proprty address" [class.i-error]="form.controls.location.invalid && form.controls.location.touched">
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-query form-group ">
                  <label>Year built</label>
                  <input type="text" myNumberOnly maxlength="4" class="form-control" [formControl]="form.controls.year_built" placeholder="" [class.i-error]="form.controls.year_built.invalid && form.controls.year_built.touched">
                </div>
              </div>
              <div class="col-md-4"  *ngIf="isEdit">
                <div class="single-query ">
                  <label>Status </label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.status">
                      <!--<ng-template ngFor [ngForOf]="statusValsActive" let-status>-->
                        <!--<option [value]="status">{{status}}</option>-->
                      <!--</ng-template>-->
                      <ng-template [ngIf]="isEdit">
                        <ng-template ngFor [ngForOf]="statusVals" let-status>
                          <option [value]="status">{{status}}</option>
                        </ng-template>
                      </ng-template>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-query form-group ">
                  <label>Price</label>
                  <input type="text" myNumberOnly [formControl]="form.controls.price" class="form-control" placeholder="Leave blank for price upon request" [class.i-error]="form.controls.price.invalid && form.controls.price.touched">
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-query form-group ">
                  <label>Acres</label>
                  <input type="text" myNumberOnly [formControl]="form.controls.acres" class="form-control" placeholder="" [class.i-error]="form.controls.acres.invalid && form.controls.acres.touched">
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                <input type="checkbox" [formControl]="form.controls.price_upon_request" name="check-box" /> Price upon request
              </div>
            </div> -->
            <div class="row">
              <div class="col-md-12">
                <h3 class="mt-5 ">Lease</h3>
                <div class="search-propertie-filters">
                  <div class="container-2">
                    <div class="row">
                      <div class="col-md-3 col-md-4">
                        <div class="search-form-group white">
                          <input type="radio" [formControl]="form.controls.prop_status" name="check-box" [value]="statusValsActive[1]"/>
                          <span>Available on sale</span>
                        </div>
                      </div>
                      <div class="col-md-3 col-md-4">
                        <div class="search-form-group white">
                          <input type="radio" [formControl]="form.controls.prop_status" name="check-box" [value]="statusValsActive[0]"/>
                          <span>Available as lease</span>
                        </div>
                      </div>
                      <div class="col-md-3 col-md-4">
                        <div class="search-form-group white">
                          <input type="radio" [formControl]="form.controls.prop_status"name="check-box" [value]="statusValsActive[2]" />
                          <span>Both</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h3 class="mt-4">Property Photos <i class="fa fa-info-circle help" data-toggle="tooltip" title="add images to upload for property!"></i></h3>
                <div class="file_uploader dropzone" appDnd (filesChangeEmiter)="onDrop($event)" style="cursor: pointer" (click)="openFileSelect()">
                  <div class="dz-default dz-message">
                    <span><i class="fa fa-plus-circle"></i>Click here or drop files to upload</span>
                  </div>
                  <input type="file" accept="image/x-png,image/jpeg" #uploadBtn (change)="onFileSelect()" style="visibility: hidden; width:0px; height: 0px"/>
                </div>
                <div class="prev-holder">
                  <ng-template [ngIf]="isEdit">
                    <ng-template ngFor [ngForOf]="property.photos" let-photo let-i="index">
                      <div class="i-preview">
                        <img [src]="photo"/>
                        <div class="clear-box">
                          <i (click)="rmvUploadedFile(i)" class="fa fa-times"></i>
                        </div>
                      </div>
                    </ng-template>
                  </ng-template>
                  <ng-template ngFor [ngForOf]="files" let-filea let-i="index">
                    <div class="i-preview">
                      <img [src]="filea.preview"/>
                      <div class="clear-box">
                        <i (click)="rmvFile(i)" class="fa fa-times"></i>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3 class="mt-5 ">Property Detail</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="single-query form-group ">
                  <label>Size Prefix</label>
                  <div class="intro">
                    <input type="text" myNumberOnly [formControl]="form.controls.size_prefix" class="form-control" placeholder="Size (sqft)" [class.i-error]="form.controls.size_prefix.invalid && form.controls.size_prefix.touched">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="single-query form-group ">
                  <label>Bedrooms</label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.bedrooms">
                      <option class="active">Number of Bedrooms</option>
                      <option>1</option>
                      <option>2 </option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="single-query  form-group ">
                  <label>Bathrooms</label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.bathrooms">
                      <option class="active">Number of bathrooms</option>
                      <option>1</option>
                      <option>1.5 </option>
                      <option>2 </option>
                      <option>2.5 </option>
                      <option>3</option>
                      <option>3.5</option>
                      <option>4</option>
                      <option>4.5</option>
                      <option>5</option>
                      <option>5.5</option>
                      <option>6</option>
                      <option>6.5</option>
                      <option>7</option>
                      <option>7.5</option>
                      <option>8</option>
                      <option>8.5</option>
                      <option>9</option>
                      <option>9.5</option>
                      <option>10</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="single-query form-group ">
                  <label>Living Areas</label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.tv_launge">
                      <option class="active">Number of Living areas</option>
                      <option>1</option>
                      <option>2 </option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="single-query form-group  ">
                  <label>Garages</label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.garages">
                      <option class="active">Number of Garages</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="single-query form-group ">
                  <label>City</label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.city">
                      <ng-template ngFor [ngForOf]="settings.cities" let-key>
                        <option [value]="key.title">{{key.title}}</option>
                      </ng-template>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="single-query form-group ">
                  <label>MLS area</label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.mls">
                      <ng-template ngFor [ngForOf]="settings.mls" let-key>
                        <option [value]="key.title">{{key.title}}</option>
                      </ng-template>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="single-query form-group ">
                  <label>Property type</label>
                  <div class="intro">
                    <select class="form-control" [formControl]="form.controls.prop_type">
                      <ng-template ngFor [ngForOf]="settings.properties" let-key>
                        <option [value]="key.title">{{key.title}}</option>
                      </ng-template>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h3 class="mt-4">Property Description </h3>
                <textarea name="" [formControl]="form.controls.description" placeholder="Property Description . . ." class="form-control" id="message" cols="30" rows="8" [class.i-error]="form.controls.description.invalid && form.controls.description.touched"></textarea>
              </div>
              <div class="col-md-12">
                <h3 class="mt-5 ">Property Features</h3>
                <div class="search-propertie-filters">
                  <div class="container-2">
                    <div class="row">
                      <ng-template ngFor [ngForOf]="settings.features" let-feature>
                        <div class="col-md-4 col-md-4">
                          <div class="search-form-group white">
                            <input type="checkbox" [checked]="isFeatureAvailable(feature.title)" (change)="toggleFeature(feature.title)" name="check-box" />
                            <span>{{feature.title}}</span>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h3 class="mt-4 ">Video Presentation</h3>
                <div class="single-query form-group bottom15">
                  <label>Vimeo or Youtube URL</label>
                  <input type="text" [formControl]="form.controls.video_url" class="form-control" placeholder="https://youtube.com">
                </div>
              </div>
              <div class="col-md-12">
                <h3 class="mt-4  ">Place on Map</h3>
                <div class="single-query form-group bottom15">
                  <label>Property Address</label>
                  <input type="text" [formControl]="form.controls.place_on_map" class="form-control" placeholder="Enter a Location">
                </div>
                <div id="single_map"></div>
              </div>
              <div class="col-md-5">
                <button type="submit" (click)="saveProperty()" class="btn-brown w-100">submit property</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-1 col-md-2"></div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
