<app-header></app-header>
<!-- Message  area Start -->
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4"> <a data-toggle="collapse" href=".message">Message Board</a></h1>
      </div>
    </div>
  </div>
  <div class="container pl-4 pr-4  ">
  </div>
</section>
<!-- Message form area End -->
<!-- Message area Start -->
<section>
  <div class="container">
    <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4">
      <div class="row">
        <div class="col-12 text-center">
          <a data-toggle="collapse" href=".message" #collpse class="more-filter  ">
          <i class="font-14  fa fa-plus text-1" aria-hidden="true"></i>
          <i class="font-14 fa fa-minus text-2 hide" aria-hidden="true"></i>
          <strong> Write Message</strong>
          </a>
        </div>
        <div class="col-12 ">
          <div class="message collapse my-4">
            <form class="messageform" [formGroup]="form" *ngIf="form">
              <div class="form-group row">
                <label for="inputPassword" class="col-md-2 offset-md-1 col-form-label">Title</label>
                <div class="col-md-8">
                  <input type="input" [formControl]="form.controls.title" class="form-control" id="title" placeholder="title">
                </div>
              </div>
              <div class="form-group row ">
                <label for="inputPassword" class="col-md-2 offset-md-1  col-form-label">Message</label>
                <div class="col-md-8">
                  <textarea [froalaEditor] name="" [formControl]="form.controls.message" placeholder="Write here somthing . . ." class="form-control" id="message" cols="30" rows="8"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-3 offset-md-5   text-right form-group">
                  <button type="submit" data-toggle="collapse" href=".message"  #collpse class="btn-brown w-100">Cancel</button>
                </div>
                <div class="col-md-3   text-right form-group">
                  <button type="button" (click)="onCreateMessage()" class="btn-brown w-100">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <ng-template ngFor [ngForOf]="messages" let-msg>
      <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4">
        <div class="row">
          <div class="col-sm-2">
            <div class="row mb-4">
              <div class="profile-img col-sm-12 col-4">
                <a routerLink="/agent-detail/{{msg.user_id}}"><img class=" img-responsive" [src]="msg.profile_image" /></a>
              </div>
              <div class=" col-sm-12 col-8 ">
                <a routerLink="/agent-detail">{{msg.firstname + ' ' + msg.lastname}}</a>
                <p class="mb-0" >
                  <a href="mailto:{{msg.email}}" style="color:#ad724e;font-size: 15px " data-toggle="tooltip" data-placement="top" title="{{msg.email}}">{{trimEmail(msg.email)}}</a>
                  <a href="tel:{{msg.phone}}" style="color:#ad724e;font-size: 15px " data-toggle="tooltip" data-placement="top" title="{{msg.phone}}">{{trimPhone(msg.phone)}}</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-10 px-2">
            <div class="row">
              <div class="col-md-8">
                <h3>{{msg.title}}</h3>
              </div>
              <div class="col-md-4">
                <p class="date text-md-right">{{msg.date | date:'MMM-dd-yyyy, hh:mm:aaa'}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11" [innerHtml]="msg.message" style="white-space: pre-wrap"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <div class="row mt-5 mb-4" *ngIf="totalPages.length > 1">
      <div class="col text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              Showing {{pageStart}} - {{getCurrentRange()}} of {{totalPages.length}}
            </li>
            <ng-template ngFor [ngForOf]="totalPages" let-page>
              <li class="page-item active" (click)="changePage(page)" [class.active]="page === currentPage">
                <a class="page-link">{{page}}</a>
              </li>
            </ng-template>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
