<header>
  <nav class="navbar navbar-expand-xl navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="assets/images/svg/logo.svg" alt="BuddyQuaid"></a>
    </div>
  </nav>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Start your Plan</h1>
        <p>Email verification completed, Please provide your payment details.</p>
        <p> <strong>Subscribe now just in $150/year</strong> </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-0 mb-3"></h1>
      </div>
    </div>
    <div class=" white-box mt-1 pl-4 pr-4 pt-4 pb-4">
      <form class="billingForm mt-3" [formGroup]="form" *ngIf="form" role="billing Form">
        <h3>Payment </h3>
        <p><img class="img-responsive mt-3" src="assets/images/stripe.png" alt=""></p>
        <div class="form-group">
          <label for="cardNumber">Card number</label>
          <div class="input-group">
            <input type="text" myNumberOnly maxlength="16" [formControl]="form.controls.number" class="form-control" name="cardNumber" placeholder="" [class.i-error]="form.controls.number.invalid && form.controls.number.touched">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <label><span class="hidden-xs">Expiration</span> </label>
              <div class="form-inline">
                <select class="form-control" [formControl]="form.controls.exp_month" style="width:45%">
                  <option>MM</option>
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
                <span style="width:10%; text-align: center"> / </span>
                <select class="form-control" [formControl]="form.controls.exp_year" style="width:45%">
                  <option>YY</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label data-toggle="tooltip" title="" data-placement="top" data-original-title="3-digit security code usually found on the back of your card American Express cards have a 4-digit code located on the front">CVV
              <i class="fa fa-question-circle"></i>
              </label>
              <input class="form-control" myNumberOnly [formControl]="form.controls.csv" maxlength="3" required="" type="text" [class.i-error]="form.controls.csv.invalid && form.controls.csv.touched">
            </div>
          </div>
        </div>
        <hr class="style1 mt-4 mb-4">
        <h3>Billing address</h3>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fName">First name</label>
            <input type="text" name="fName" class="form-control" [formControl]="form.controls.firstname" id="fName" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="lName">Last name</label>
            <input type="text" name="lName" class="form-control" [formControl]="form.controls.lastname" id="lName" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Email</label>
          <input type="email" class="form-control" [formControl]="form.controls.email" id="email" placeholder="someone@domain.com">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 1</label>
          <input type="text" class="form-control" id="inputAddress2" [formControl]="form.controls.address" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress3" [formControl]="form.controls.address2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" [formControl]="form.controls.city" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <input type="text" class="form-control" [formControl]="form.controls.state" id="state" placeholder="State">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" myNumberOnly [formControl]="form.controls.zip" id="inputZip">
          </div>
        </div>
        <div class="form-group row">
          <div class="col" style="text-align: center;">
            <a *ngIf="!processing" class="btn-brown w-100 text-center" (click)="onPayStripe()">Confirm</a>
            <img *ngIf="processing" style="width: 40px;" src="assets/images/loading.gif">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
