<app-header></app-header>
<!-- Message  area Start -->
<section>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="uppercase mt-5 mb-4">Tour Detail</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class=" mt-1 pl-4 pr-4 pt-4 pb-4">
      <div class="row">
        <div class="col-lg-3 order-lg-2 d-flex align-items-top ">
          <p class="date font-14">
            <i class="fa fa-calendar  pr-2 float-left" aria-hidden="true"></i>
            <span>{{tour.submission_date | date:'dd-MM-yyyy'}}</span>,
            <span *ngIf="tour.is_scheduled">Tour date</span>
            <span *ngIf="!tour.is_scheduled">{{ isDatePassed(tour.submission_date) ? 'Past tour date' : 'Last submission date' }}</span>
          </p>
        </div>
        <div class="col-lg-9  order-lg-1">
          <h3>{{tour.title}}</h3>
          <p class="font-14">{{tour.description}}</p>
          <button *ngIf="!tour.is_scheduled && !isDatePassed(tour.submission_date)" data-toggle="modal" data-target=".submit-prop-modal" class="btn-brown d-print-none">Submit your property</button>
          <button *ngIf="tour.is_scheduled || isDatePassed(tour.submission_date)" class="btn-brown d-print-none" (click)="onPrint()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print details</button>
        </div>
      </div>
    </div>
    <ng-template ngFor [ngForOf]="tour.property" let-prop>
      <div class="white-box mt-1 pl-4 pr-4 pt-4 pb-4 ">
        <div class="row">
          <div class="col-lg-1 col-sm-2 col-4 mb-2 vcenter">
            <a routerLink="/property-detail/{{prop._id}}"> <img *ngIf="prop.photos.length" class="img-responsive" [src]="prop.photos[0]" alt=""></a>
          </div>
          <div class=" col-lg-8 col-md-7 col-sm-6 vcenter">
            <h5 class="mb-0"><strong>Address: </strong>{{prop.location}}</h5>
            <p class="mb-0"><strong>Area: </strong> {{prop.mls}}</p>
            <p class="mb-2"><strong>Agent:</strong>
              <a routerLink="/agent-detail/{{prop.user_id}}">{{prop.firstname + ' ' + prop.lastname}}</a>
            </p>
          </div>
          <div class="col-md-3 col-sm-4 text-center d-flex align-items-center justify-content-center px-sm-0">
            <p class="mb-1 btn-brown text-center align-middle"><strong>${{prop.price}}</strong></p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
<!-- submit property popup -->
<div class="modal fade submit-prop-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <form action="">
            <div class="row">
              <div class="col">
                <h2 class="text-center text-uppercase mt-3 mb-3">my properties</h2>
              </div>
            </div>
            <div class="row">
              <ng-template ngFor [ngForOf]="myProperties" let-prop let-i="index">
                <div class="form-check col-lg-6">
                  <input type="checkbox" name="check" [checked]="isSelectedProp(prop)" (change)="onToggleProperty(prop)" class="form-check-input">
                  <label class="form-check-label" for="check1">
                    <div class="row" style="margin-left: 0px;">
                      <div class="col-4 mt-2">
                        <img class="img-responsive" *ngIf="prop.photos.length > 0" [src]="prop.photos[0]" alt="">
                      </div>
                      <div class="col-8 mt-2  ">
                        <h5>{{prop.title}}</h5>
                        <p class="mb-1">{{prop.location}}</p>
                        <p class="mb-1"><strong>Agent:</strong> {{prop.firstname + ' ' + prop.lastname}}</p>
                        <p class="mb-1"><strong>${{prop.price}}</strong></p>
                      </div>
                    </div>
                  </label>
                </div>
              </ng-template>
            </div>
            <div class="col text-center mt-4 mb-4">
              <button type="button" test-test class="btn-brown text-center" (click)="onSubmit()" data-dismiss="modal" aria-label="Close">Submit Property</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
